app-main-page{
  margin: 0 auto;
  width:1200px ;
}

header{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 2em;
  &>.logo{
    width: 80px;
    margin: auto 0;
    line-height:  50px;
  }
  &>nav>ul{
    list-style-type: none;
    display: flex;
    
    &>li{
      margin-left: 2rem;
      align-self: baseline;
      cursor: pointer;

      &>a:link, a:visited{
        text-decoration: none;
        color: #211D4D;
        transition: padding-bottom 0.25s ease-in-out;

      }
      &>a:hover{
        border-bottom: 2px solid #1295C0;
        padding-bottom: 5px;
      }
    }
  }
}