@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container {
  margin: 2em auto;
  width: 80%;
}
.poligon {
  background: #e2e6f4;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  width: 100%;
  height: 900px;
}
.poligon-2 {
  background: #e2e6f4;
  border-top-left-radius: 200px;
  width: 100%;
  height: 400px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .layout {
    max-width: 1240px;
    margin: 2em 0 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    & > .layout-info {
      height: 100%;
      max-width: 55vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 1;

      & > .hero-header {
        min-width: 400px;
        font-size: 2.5em;
        font-weight: 900;
        line-height: 1.5em;
        letter-spacing: 1px;
        margin-bottom: 2em;
      }
      & > .hero-paragraph {
        font-size: 1.2em;
        line-height: 1.8em;
        letter-spacing: 1px;
      }

      & > .paragraph {
        line-height: 1.5em;
      }
    }
    & > .layout-photo img {
      margin-top: 3rem;
      width: 45vw;
      flex-shrink: 2;
      filter: drop-shadow(0 0 5px rgba(161, 160, 160, 0.8));
    }
  }
  & > .btn {
    border: none;
    margin: 4em auto;
    width: 15em;
    height: 2em;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 30px;
    background: #1295c0;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.25s ease;
  }

  & > .btn:hover {
    box-shadow: inset 0 0 4px #fff;
  }
}

.free-course {
  background-image: url(../../assets/free-pic.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom left;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;

  & > header {
    & > h2 {
      font-size: 2em;
      padding: 2em 0 5em 0;
      align-self: start;
    }
  }

  & > .layout {
    max-width: 700px;
    line-height: 2em;
    font-size: 1.2em;
    letter-spacing: 1px;
    align-self: end;

    & > .text p {
      padding: 0 2em 4em 0;
      font-weight: 400;
    }
  }
}

.glass {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
  z-index: 1;
  backdrop-filter: blur(2px);
}

.shop {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 4em;

  .card {
    max-width: 320px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    padding: 2em;
    overflow: hidden;

    transition: transform 0.3s ease-in-out;

    .card-header {
      font-size: 1.2em;
      padding-top: 2em;
      color: #211d4d;
    }

    .shop-card-body {
      padding-top: 2em;

      .author {
        font-weight: 300;
        font-size: 1.2em;
      }

      // .rating-list {
      //   li {
      //     font-size: 20px;
      //     float: right;
      //     color: #ddd;
      //     padding: 10px 5px;
      //     &:hover {
      //       color: #ffd700;
      //       ~ {
      //         li {
      //           color: #ffd700;
      //         }
      //       }
      //     }
      //   }
      //   li.selected {
      //     color: #ffd700;
      //   }
      //   display: inline-block;
      //   list-style: none;
      // }

      .price {
        padding-top: 2em;
        font-size: 2.3em;
        color: #1295c0;
        padding-bottom: 1em;
      }
    }
  }
  .card:hover {
    transform: scale(1.05);
  }

  .card__img img {
    height: 140px;
  }
}
