@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@1,900&display=swap');


main{
  font-family: Montserrat, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  width: 80%;
    header{
      display: flex;
      justify-content: space-between;
      &>.logo{
        width: 80px;
        margin: auto 0;
        line-height:  50px;
      }
      &>nav>ul{
        list-style-type: none;
        display: flex;
        
        &>li{
          margin-left: 2rem;
          align-self: baseline;
        }
      }
    }
    .layout{
      max-width: 1240px;
      margin: 2em 0 0 0;
      display: flex;
      justify-content: space-between;
      position: relative;

      &>.layout-info{
        height: 100%;
        width: 45vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        flex-shrink: 1;
        

        &>.hero-header {
          font-size: 3em;
          font-weight: 900;
          line-height: 1.5em;
        }
        &>.hero-paragraph{
          margin: 2em 0 0 0;
          font-size: 1.2em;
          line-height: 1.5em;
        }

        &>.btn {
          border: none;
          margin: 2em auto;
          width: 10em;
          height: 2em;
          font-size: 1.3em;
          border-radius: 30px;
          background: #1295C0;
          color: #fff;
        }

      }
      &>.layout-photo img{
        margin-top: 3rem;
        width: 40vw;
        flex-shrink: 2;
        filter: drop-shadow(0 0 5px rgba(161, 160, 160, 0.8));
      }
    }

}
