@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@1,900&display=swap');

.container {
  margin: 0 auto;
  width: 80%;
  
}
.poligon {
  background: #E2E6F4;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  width: 100%;
}

main{

    display: flex;
    justify-content: center;
    flex-direction: column;

    .layout{
      max-width: 1240px;
      margin: 2em 0 0 0;
      display: flex;
      justify-content: space-between;
      position: relative;

      &>.layout-info{
        height: 100%;
        max-width: 55vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 1;
        

        &>.hero-header {
          min-width: 400px;
          font-size: 2.5em;
          font-weight: 900;
          line-height: 1.5em;
          letter-spacing: 1px;
          margin-bottom: 2em;
        }
        &>.hero-paragraph{
          font-size: 1.2em;
          line-height: 1.8em;
          letter-spacing: 1px;

        }

        &>.paragraph {
          line-height: 1.5em;
        }

      }
      &>.layout-photo img{
        margin-top: 3rem;
        width: 45vw;
        flex-shrink: 2;
        filter: drop-shadow(0 0 5px rgba(161, 160, 160, 0.8));
      }
    }
    &>.btn {
      border: none;
      margin: 4em auto;
      width: 15em;
      height: 2em;
      font-size: 1.3em;
      font-weight: 600;
      border-radius: 30px;
      background: #1295C0;
      color: #fff;
      cursor: pointer;
      transition: box-shadow 0.25s ease;
    }

    &>.btn:hover{
      box-shadow: inset 0 0 4px #fff;
    }

}

.free-course{
  
  background-image: url(../../assets/free-pic.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom left;


  display: flex;
  flex-direction: column;
  align-items: center;


  &>header{
    &>h2{
      font-size: 2em;
      padding: 2em 0 5em 0;
      align-self: start;
    }
  }

  &>.layout {
    max-width: 500px;
    line-height: 2em;
    font-size: 1.2em;
    letter-spacing: 1px;
    align-self: end;

    &>.text p{
      padding: 0 4em 4em 0;
      font-weight: 500;
    }
  }
  

}